/**
 * 重置样式
 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box
}

body {
  font-family: Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

@keyframes coverRotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1turn);
  }
}

/**
 * 首页样式
 */
.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  background: transparent url(//y.gtimg.cn/music/photo_new/T002R300x300M000001PVU6I4C8Ecm.jpg) no-repeat center top;
  background-size: cover;
  z-index: -2;
}

.page::after {
  content: '';
  width:100%;
  height:100%;
  position: absolute;
  left:0;
  top:0;
  background: inherit;
  z-index: -1;
  -webkit-filter: blur(2.16vw) brightness(.9);
  -moz-filter: blur(2.16vw) brightness(.9);
  -ms-filter: blur(2.16vw) brightness(.9);
  -o-filter: blur(2.16vw) brightness(.9);
  filter: blur(2.16vw) brightness(.9);
}

/* .page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: transparent url(./img/cover-blur.jpg) no-repeat center center;
  background-size: cover;
} */

section.disc-container {
  position: relative;
  z-index: 1;
}

.disc-container>.pointer {
  width: 24vw;
  position: absolute;
  left: 45%;
  transform-origin: top left;
  transition: transform .3s;
}

.disc-container>.pointer.paused {
  transform: rotate(-25deg);
}

.disc-container .disc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18vw;
}

.disc-container>.disc>.icon-wrapper {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 14vw;
  width: 14vw;
  /* background-color: rgba(0, 0, 0, .5) */
}

.disc-container>.disc>.ring {
  width: 78vw;
}

.disc-container>.disc>.light {
  width: 78vw;
  position: absolute;
  animation: coverRotate linear 20s infinite;
  animation-play-state: paused;
}

.disc-container>.disc>.cover {
  width: 48vw;
  position: absolute;
  border-radius: 100%;
  display: block;
  animation: coverRotate linear 20s infinite;
  animation-play-state: paused;
}

/* playing类控制转动 */
.disc-container.playing .light,
.disc-container.playing .cover {
  animation-play-state: running;
}

/*播放后暂停按钮出现，播放按钮隐藏*/
.disc-container.playing .icon-wrapper>img {
  display: none;
}

section.song-description {
  color: #fefefe;
  text-align: center;
  line-height: 1.1;
  margin-top: 6.7vw;
  flex-grow: 1;
  font-weight: 400;
}

.song-description>h2>.song-name {
  font-size: 4.8vw;
}

.song-description>h2>.song-gap {
  margin: 0 1.1vw;
}

.song-description>h2>.song-autr {
  font-size: 4.3vw;
  color: hsla(0,0%,100%,.6);
}

.song-description>.lyric {
  font-size: 3.7vw;
  height: 25.6vw;
  margin-top: 5.3vw;
  overflow: hidden;
}

.song-description>.lyric>.lines>p {
  line-height: 6.4vw;
  font-size: 4.27vw;
  color: hsla(0,0%,100%,.6);
  padding-bottom: 2.13vw;
}

.song-description>.lyric>.lines>p.active {
  color: rgb(255, 255, 255);
  transition: all .3s;
}

section.links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2.67vw;
  margin-bottom: 2.67vw;
}

section.links>a {
  width: 46vw;
  height: 11vw;
  line-height: 11vw;
  text-align: center;
  border: 0.27vw solid #d43b32;
  color: #d43b32;
  background: transparent;
  border-radius: 11vw;
  letter-spacing: 0.25em;
  font-stretch: 100%;
}

section.links>a.btn-download {
  background: #d43b32;
  color: #fff;
  margin-left: 2.67vw;
}